body, html {
	height: 100%;
}

.main-home {
	height: 100%;
	cursor: default;
}

.main-home-image {
	position: fixed;
	width: 3000px;
	height: 2000px;
	background-size: cover;
	animation: panning 32s infinite linear;
	transition: background-image 0.5s ease-in-out; 
}

.first-image {
	background-image: url('../images/1_Front.jpg');
}

.second-image {
	background-image: url('../images/4_Living_Room.jpg');
}

.third-image {
	background-image: url('../images/8_Dining_Room.jpg');
}

@keyframes panning {
	0% {
		transform: translate3d(-300px, -600px, 0);
		animation-timing-function: ease-in;
	}
	25% {
		transform: scale3d(0.95, 0.95, 0.95) translate3d(-400px, -400px, 0);
		animation-timing-function: ease-in;
	}
	50% {
		transform: translate3d(-300px, -600px, 0) scale3d(0.95, 0.95, 0.95);
		animation-timing-function: ease-in;
	}
	75% {
		transform: scale3d(0.95, 0.95, 0.95) translate3d(-400px, -400px, 0);
		animation-timing-function: ease-in;
	}
	100% {
		transform: scale3d(0.95, 0.95, 0.95) translate3d(-300px, -600px, 0);
		animation-timing-function: ease-in;
	}
}

@font-face {
	font-family: 'hlp-font';
	src: local('hlp-font'), url(../fonts/hlp-font.woff) format('woff');
}

@font-face {
	font-family: 'hlp-font-ultrablack';
	src: local('hlp-font-ultrablack'), url(../fonts/hlp-font-ultrablack.woff) format('woff');
}

@font-face {
	font-family: 'hlp-font-oblique';
	src: local('hlp-font-oblique'), url(../fonts/hlp-font-oblique.woff) format('woff');
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: local('glyphicons-halflings-regular'), url(../fonts/glyphicons-halflings-regular.woff) format('woff');
}

.glyphicon {
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.glyphicon-home:before {
    content: "\E021";
}


.main-home-container {
	/*background-color: rgba(0,0,0,0.5);*/
	height: 100%;
	position: relative;
}

.main-top-container {
	display: flex;
	justify-content: space-between;
}

.home-logo-div {
	width: 830px;
	background-color: rgba(0,0,0,0.7);
	cursor: default;
}

.home-logo-div h1 {
	margin: 0;
	color: white;
	font-family: 'hlp-font';
	font-size: 72px;
	padding: 20px;
	text-align: left;
}

.home-logo-div h1 strong {
	color: #496ede;
	line-height: 1.1;
	letter-spacing: 8px;
	font-size: 74px;
}

.home-menu-div {
	padding: 20px;
	margin-right: 10%;
	height: 35px;
	background-color: rgba(0,0,0,0.7);
}

.home-menu-div button {
	border: none;
	background: none;
	font-family: 'hlp-font';
	font-size: 30px;
	color: white;
}

.home-menu-div button:hover {
	cursor: pointer;
	border-bottom: 1px white solid;
}

.home-menu-div button:focus {
	outline: none;
	border-bottom: 1px white solid;
}

.main-body-container {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.main-body {
	display: inline-block;
	float: left;
	width: 640px;
	text-align: left;
	line-height: 1.2;
	margin-top: 100px;
	background-color: rgba(0,0,0,0.7);
	animation: 1s ease-out 0s 1 slideInFromLeft;
}

.main-body h2 {
	margin: 0;
	color: white;
	font-family: 'hlp-font-oblique';
	font-size: 40px;
	padding: 20px;
}

@keyframes slideInFromLeftDelayed {
  0% {
    transform: translateX(-100%);
  }
  50% {
  	transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.main-body-button-div {
	padding-top: 20px;
	animation: 2s ease-out 0s 1 slideInFromLeftDelayed;
}

.main-body-button-div button {
	background: #496ede;
	font-family: 'hlp-font-ultrablack';
	color: white;
	font-size: 30px;
	border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
}

button a {
	color: white;
	text-decoration: none;
}

.main-body-button-div button:hover {
	cursor: pointer;
}