.main-services-div .glyphicon {
	font-size: 24px;
}

.main-services-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.services-header {
	font-family: "hlp-font";
    font-size: 36px;
    color: white;
    text-align: center;
    margin: 20px;
}

.services-header p {
	color: white;
	margin: 0;
	background-color: rgba(0,0,0,0.7);
	padding: 20px;
	text-align: center;
	cursor: default;
	display: inline;
	/*animation: 5s ease-out 0s 1 slideInFromBottom;*/
}

/*@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}*/

.service {
	width: 600px;
	height: 400px;
	position: absolute;
	transition: opacity 0.5s ease-in-out;
}

.service:hover {
	opacity: 0.15;
}

.service-background {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 400px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
	background-color: black;
}

.service-background.hideService {
	visibility: hidden;
}

.main-services-div a {
	text-decoration: none;
}

.service-background p {
	background-color: black;
	opacity: 1;
	color: white;
    font-size: 36px;
    font-family: "hlp-font";
    text-decoration: none;
}

.first-column.hideCol {
	display: hidden;
}

.second-column.hideCol {
	visibility: hidden;
}


.spotlight {
	position: relative;
	height: 1000px;
	width: 1500px;
	transition: width 1.5s, height 1.5s;
	transition-delay: 0.5s;
	justify-content: space-between;
	align-items: initial;
}

@keyframes slideToTheLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(320px);
  }
}

@keyframes slideToTheRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-320px);
  }
}

@keyframes slideToTheTopFromTheLeft {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translate(320px, -440px);
	}
}

@keyframes slideToTheTopFromTheRight {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translate(-320px, -440px);
	}
}

.first-column .spotlight {
	animation: 0.5s ease-out 0s 1 slideToTheLeft;
	transform: translateX(320px);
}

.second-column .spotlight {
	animation: 0.5s ease-out 0s 1 slideToTheRight;
	transform: translateX(-320px);
}

.first-column .service-bottom.spotlight {
	animation: 0.5s ease-out 0s 1 slideToTheTopFromTheLeft;
	transform: translate(320px, -440px);
}

.second-column .service-bottom.spotlight {
	animation: 0.5s ease-out 0s 1 slideToTheTopFromTheRight;
	transform: translate(-320px, -440px);
}

@keyframes delayAppearance {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.service-spotlight-main {
	width: 100%;
	font-family: "hlp-font";
	color: white;
	font-size: 24px;
	padding: 40px;
}

.service-spotlight-header {
	font-size: 50px;
	/*text-align: center;*/
	animation: 1.5s ease-out 0s 1 delayAppearance;
}

.service-spotlight-body {
	animation: 2.2s ease-out 0s 1 delayAppearance;
}

.service-background.spotlight p {
	display: none;
}

.service-background.spotlight .service {
	display: none;
}

.service.photography {
	background-image: url('../images/8_Dining_Room.jpg');
	background-size: 600px 400px;
	z-index: 9999999;
}

.service.floor-plan {
	background-image: url('../images/branded_floor_plan.jpg');
	background-size: 600px 400px;
}

.service.videos {
	background-image: url('../images/youtube-thumbnail.PNG');
	background-size: 600px 400px;
}

.service.websites {
	background-image: url('../images/youtube-thumbnail.PNG');
	background-size: 600px 400px;
}


.spotlight .service {
	background-image: none;
}
