.main-services-div .glyphicon {
	font-size: 24px;
}

.main-services-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.services-header {
	font-family: "hlp-font";
    font-size: 36px;
    color: white;
    text-align: center;
    margin: 20px;
}

.services-header p {
	color: white;
	margin: 0;
	background-color: rgba(0,0,0,0.7);
	padding: 20px;
	text-align: center;
	cursor: default;
	display: inline;
	animation: 5s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.service {
	width: 600px;
	height: 400px;
	position: absolute;
	transition: opacity 0.5s ease-in-out;
}

.service:hover {
	opacity: 0.15;
}

.service-background {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 400px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
	background-color: black;
}

.main-services-div a {
	text-decoration: none;
}

.service-background p {
	background-color: black;
	opacity: 1;
	color: white;
    font-size: 36px;
    font-family: "hlp-font";
    text-decoration: none;
}


.service.photography {
	background-image: url('../images/8_Dining_Room.jpg');
	background-size: 600px 400px;
	z-index: 9999999;
}

.service.floor-plan {
	background-image: url('../images/branded_floor_plan.jpg');
	background-size: 600px 400px;
}

.service.videos {
	background-image: url('../images/youtube-thumbnail.PNG');
	background-size: 600px 400px;
}

.service.websites {
	background-image: url('../images/youtube-thumbnail.PNG');
	background-size: 600px 400px;
}


#left-tabs {
	width: 1500px;
}

#left-tabs li {
	line-height: 2;
}


#left-tabs li p {
	display: inline;
	margin-left: 20px;
	font-size: 24px;
}