.main-services-div .glyphicon {
	font-size: 24px;
}

.main-services-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

#left-tabs {
	width: 1500px;
}

#left-tabs li {
	line-height: 2;
}


#left-tabs li p {
	display: inline;
	margin-left: 20px;
	font-size: 24px;
}