.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.hlp-logo {
  width: 432px;
}

.home-main-photo {
  position: absolute;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.hidden {
  opacity: 0;
}

.main-images {
  position: relative;
  height: 400px;
  width: 600px;
}

.main-images img {
  width:100%;
}

.App-header {
  #background-color: #e9a825;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
